.login_page{
    display: flex;
    align-items: center;
justify-content: center;

}

.site_details{
    padding-top:6em;
    padding-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 45%;
    height:100vh;
    background-color: var(--slate-50);

}

.logo{
    display: flex;
    align-items: center;
    gap:1rem;
    font-weight: 800;
    font-size: 2rem;
    color:var(--slate-800)
}

.title{
    font-size: 4rem;
    font-weight: 500;
    color: var(--slate-600);
    padding:1em 0;
}

.title span{
    color: var(--slate-800);
    font-weight: 700;
}



.login_area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100vh;
}

.login_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.login_header h2 {
    font-size: 2.4rem;
    font-weight: 500;
    color:var(--slate-900);
    padding-bottom: .5em;
}

.login_header p{
    color: var(--slate-500);
    font-size: 1.8rem;
    font-weight: 400;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_form{
    width:clamp(400px, 40%, 600px);
}

.login_form div{
    padding-bottom: 1em;
}

.forget_area p{
    font-size: 1.6rem;
    color: var(--slate-800);
}

.check_box label{
    color: var(--slate-500);
    padding-left: 1em;
    padding-bottom: -1em;
}

.login_form button{
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: .3em;
    width: 100%;
    padding: 1em 0;
    color: var(--slate-50);
    background-color: var(--slate-800);
}

.social_links{padding: 1em 0;}


.social_links p{
    text-align: center;
    font-weight: 400;
    color:var(--slate-500)
}

.registration{
    font-size: 1.5rem;
    padding: 3em 0;
    text-transform: uppercase;
}

.registration span{
    color: var(--slate-800);
}

.social_icons{
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.3em;
    padding-top: .5em;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 2em;
    color: var(--slate-400);
    font-size: 1.4rem;
}


@media screen and (max-width: 900px) {
    .site_details {
      display: none;
    }
  }



