@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  font-size: 62.5%;

  /* Base Color */
  --black: #0F172A;
  --white: #FFFFFF;

  /* slate */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #1e293b;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  /* Primary */
  --primary-50: #F6F8FF;
  --primary-100: #EDF0FF;
  --primary-200: #D1DAFE;
  --primary-300: #B4C2FD;
  --primary-400: #8092FF;
  --primary-500: #7E96FC;
  --primary-600: #3F5EDF;
  --primary-700: #2A3F96;
  --primary-800: #203071;
  --primary-900: #151F49;

  /* Danger */
  --danger-50: #FFF7F7;
  --danger-100: #FEEFEF;
  --danger-200: #FCD6D7;
  --danger-300: #FABBBD;
  --danger-400: #F68B8D;
  --danger-500: #F1595C;
  --danger-600: #D75052;
  --danger-700: #913638;
  --danger-800: #6D292A;
  --danger-900: #461A1B;

  /* Warning */
  --warning-50: #FFFAF8;
  --warning-00: #FFF4F1;
  --warning-00: #FEE4DA;
  --warning-00: #FDD2C3;
  --warning-00: #FCB298;
  --warning-00: #FA916B;
  --warning-00: #DF8260;
  --warning-00: #965741;
  --warning-00: #714231;
  --warning-00: #4A2E21;
 
/* Info */
  --info-50: #F3FEFF;
  --info-00: #E7FEFF;
  --info-00: #C5FDFF;
  --info-00: #A3FCFF;
  --info-00: #5FF9FF;
  --info-00: #0CE7FA;
  --info-00: #00B8D4;
  --info-00: #007A8D;
  --info-00: #005E67;
  --info-00: #003F42;

  /* Success */
  --success-50: #F3FEF8;
  --success-00: #E7FDF1;
  --success-00: #E7FDF1;
  --success-00: #A3F9D5;
  --success-00: #5FF5B1;
  --success-00: #50C793;
  --success-00: #3F9A7A;
  --success-00: #2E6D61;
  --success-00: #1F4B47;
  --success-00: #0F2A2E;
}

/* Css Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-size: 1.6rem;
}

h1{
  font-size: 4rem;
}


